{% extends '::base.html.twig' %}

<!--{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubitratings/css/rating.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
-->
{% block body %}
{% spaceless %}
<!--
<div class="rating">
	<table>
		<tr><td>Je hebt dit monument gewaardeerd op:</td></tr>
		<tr><td>{{ rating }}</td></tr>
	</table>
</div>
-->
{% endspaceless %}
{% endblock %}
