div.right, div.left, div.content {
    float:left;
}

div.content {
	width: 500px;
}

div.left, div.right, div.recommend, div.image , div.address {
	width: 230px;
}

div.image {
	height: 300px;
	display: table-cell;
	vertical-align: middle;
}

div.image img {
	width: 210px;
	height: 280px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	border:1px solid #BFBFBF;
	box-shadow:2px 2px 3px #aaaaaa;
}

div.address, div.description {
    margin-right:auto;
    margin-left:auto;
	box-shadow: 0px 0px 6px #FFFAFA;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div.description {
	
}

div.description p {
	
}

div.address {
	width:210px;
}
div.address table tr td {
	padding: 1px 3px;
}