div.right, div.left, div.recommend {
	background-color:#D3D3D3;
    /*display:inline-block;
    vertical-align: top;*/
    float:left;
}

div.right {
	width: 500px;
}

div.left, div.recommend, div.image {
	width: 230px;
}

div.image {
	height: 300px;
	display: table-cell;
	vertical-align: middle;
}

div.image img {
	width: 210px;
	height: 280px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	border:1px solid #BFBFBF;
	box-shadow:2px 2px 3px #aaaaaa;
}

div.address, div.description {
    background-color:#C0C0C0;
    margin-right:auto;
    margin-left:auto;
	box-shadow: 0px 0px 6px #FFFAFA;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

div.description {
	width: 460px;
}

div.description p {
	padding-left:3px;
	padding-right:3px;
}

div.address {
	width:210px;
}