{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/monubituser/css/user.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

        {% for key, message in app.session.getFlashBag() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div id="formpage">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}